@import "tailwindcss";

@tailwind utilities;

@layer base {
  body {
    @apply bg-gray-100;
  }
}


html, body {
  min-width: 320px;
  max-width: 400px;
  padding: .75rem;
  height: auto;
  min-height: 100%;
  overflow: hidden; 
}